{% extends 'base.html' %}
{% block title %}Create new blog post
{% endblock %}
{% block content %}

{% if user.is_authenticated %}
	<h1>Add Post</h1>
	<div class="form-group">
	<form method="Post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.media }}
		{{ form.as_p }}
		<button class="btn btn-secondary">Post</button>
	</form>
	</div>

	<script>
		var name = "{{ user.id }}";
		document.getElementById("legal").value=name;
	</script>

{% else %}
You need to Login to add a post. 
Or register if you are new
{% endif %}


{% endblock %}
